#search_mini_form {
    width: 500px;
    margin: auto;
    margin-bottom: -30px;
    display: block;
    padding: 7px;
    background: #fff;
    position: relative;
    -webkit-transform: translate(3px, 3px);
    -moz-transform: translate(3px, 3px);
    -o-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px rgba(0,0,0,0);

    .animated {
        -webkit-animation: none;
        animation: none;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.14);
        -moz-box-shadow: 3px 4px 5px rgba(0,0,0,.14);
        box-shadow: 3px 4px 5px rgba(0,0,0,.14);
        -webkit-transition: .8s;
        -o-transition: .8s;
        transition: .8s;
    }

    #search {
        resize: none;
        -webkit-appearance: none;
        border-radius: 0;
        border-color: #ebebec;
        color: #99a4ab;
        font-size: 16px;
        line-height: 18px;
        padding: 13px 10px 13px 22px;
        width: 100%;
    }

    .button {
        background: transparent;
        border: 0;
        overflow: hidden;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: auto;
        position: absolute;
        top: 7px;
        right: 7px;

        & > span {
            float: left;
            text-align: center;
            padding: 0;
            overflow: hidden;
            background: #fe5621;
            color: #fff;
            line-height: 1.2em;
            position: relative;
            z-index: 0;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            font-size: 32px;
            color: #fff;
        }

        span span {
            padding: 4px 13px;
            display: block;
            float: left;
            padding: 4px 37px;
        }
    }
}

input.input-text, select, textarea, .form-control {
    border: 1px solid #ececec;
    border-radius: 0;
}

input.input-text, textarea {
    font: 12px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    border: 1px solid #ececec;
    padding: 6px 12px;
    resize: none;
    -webkit-appearance: none;
    border-radius: 0;
}

input, select, textarea, button {
    font: 12px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #000;
}

.search-form {
    text-align: center;
    width: 992px;
    margin: 0 auto;
    height: 44px;

    .search-field {
        position: relative;
        width: 510px;
        float: right;
    }

    label {
        position: absolute;
        left: -999em;
        top: 0;
    }

    input {
        padding: 0 10px 0 50px;
        background: url(/assets/img/icon-search.<%=version%>.png) 11px center no-repeat #fff;
        width: 342px;
        border-radius: 3px;
        border: 0px;
        font-size: 0.9em;
        margin-left: 5px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 44px;
        height: 44px;
        vertical-align: top;
        color: #5a5a5a;
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 44px;
        height: 44px;
        vertical-align: top;
        color: #5a5a5a;
        background-color: #00636a;
        padding-left: 18px;
        padding-right: 18px;
        font-size: 1.1em;
        color: #ffffff;
        width: 97px;
        box-sizing: border-box;
    }
}
