.top-icon-menu {
    width: 100%;
    max-width: 100%;
    line-height: 20px;
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    display: block;
    height: 50px;
    background-color: #323232;

    & > label {
        float: left;
        border-right: 1px solid #232323;
        height: 50px;
        padding: 10px 30px;
        cursor: pointer;
        position: relative;
        z-index: 9999;

        &:hover {
            color: #fe5621;
        }
    }



    .top-search, .top-cart {
        float: right;
        border-left: 1px solid #232323;
        border-right-width: 0;
        overflow: hidden;
    }
}

.hidden-mini-form {
    top: 60px;
    position: absolute;
    width: 100%;
    z-index: 999;
}

@mixin mini-form() {
    float: right;
    margin-right: 5px;
    max-height: 0;
    overflow: hidden;
    @include transition((color 300ms ease-in-out, border-color 300ms ease-in-out,max-height 300ms ease-in-out));
}

.mini-search {
    @include mini-form();

    #mini-search {
        width: 200px;
        display: inline-block;
        border-radius: 0;
    }
}

.mini-cart {
    @include mini-form();
    background-color: #fff;

    .cart-content {
        padding: 15px;
        width: 320px;
        border: 0px solid #DDDDDD !important;
        box-shadow: 0 0 3px #DDDDDD;
    }
}

.swipe-menu {
    height: 90vh;
    position: absolute;
    top: 50px;
    width: 237px;
    left: -237px;
    background-color: #323232;
    z-index: 999;
    border-top: 1px solid #232323;
     @include transition((left 300ms ease-in-out));
    overflow-x: hidden;
    overflow-y: scroll;
}

#ck-mini-form-search {
    &:checked {
        & ~ .mini-search {
            max-height: 100px;
        }
    }
}

#ck-mini-cart {
    &:checked {
        & ~ .mini-cart {
            max-height: 100px;
        }
    }
}
#ck-swipe-menu {
    &:checked {
        & ~ .swipe-menu {
            left: 0;
        }
    }
}