.header-title {
    display: block;
    margin: 0;
    background: $header-background-color;
    padding: 5px 15px;

    h1 {
        font-size: 20px;
        line-height: 14px;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;

        @media #{$media-sm} {
            font-size: 16px;
        }
        @media #{$media-md} {
            font-size: 20px;
        }
    }
}
