/* BASIC*/
ul, ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:before, :after {
        box-sizing: border-box;
    }
}


/* COMMON CLASSES */
.clearfix {
    clear: both;
}
