.region__container--main {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 30px auto;
    background-color: darkslategrey;
}

div[ui-view="main"] {
    background-color: #fff;
}
