/* define variable*/
/*media width*/
/* include tool*/
/* BASIC RESET */
/* line 2, ../../scss/_common/_base.scss */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0;
}

/* BASIC*/
/* line 9, ../../scss/_common/_base.scss */
body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

/* line 13, ../../scss/_common/_base.scss */
* {
  box-sizing: border-box;
}

/* COMMON CLASSES */
/* line 19, ../../scss/_common/_base.scss */
.break {
  clear: both;
}

/* line 1, ../../scss/_region/_region.scss */
.region {
  *zoom: 1;
  display: block;
  background-color: #f1f1f1;
}
/* line 3, ../../scss/_mixins/_clearfix.scss */
.region:before, .region:after {
  content: " ";
  display: table;
}
/* line 4, ../../scss/_mixins/_clearfix.scss */
.region:after {
  clear: both;
}

/* line 1, ../../scss/_region/_region__container.scss */
.region__container, .region__container--main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 1300px) {
  /* line 1, ../../scss/_region/_region__container.scss */
  .region__container, .region__container--main {
    width: 1300px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 1, ../../scss/_region/_region__container--main.scss */
.region__container--main {
  margin: 30px auto;
}

/* include directive*/
/* line 2, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .list-tiles {
  list-style: none;
  margin: 100px auto;
  height: 550px;
  width: 320px;
}
@media only screen and (min-width: 768px) {
  /* line 2, ../../app/app/directives/list-object/_scss/list-object.scss */
  .list-object .list-tiles {
    width: 640px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 2, ../../app/app/directives/list-object/_scss/list-object.scss */
  .list-object .list-tiles {
    width: 960px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 2, ../../app/app/directives/list-object/_scss/list-object.scss */
  .list-object .list-tiles {
    width: 1280px;
  }
}
/* line 17, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .list-tiles li {
  display: inline;
  float: left;
  -webkit-perspective: 500;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-property: perspective;
  -webkit-transition-duration: 0.5s;
  margin-bottom: 135px;
}
/* line 28, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .list-tiles li:hover {
  -webkit-perspective: 5000;
}
/* line 31, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .list-tiles li:hover img {
  -webkit-transform: rotateY(0deg);
}
/* line 35, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .list-tiles li:hover .object-info {
  -webkit-transform: rotateY(0deg);
  -webkit-box-shadow: 0 5px 10px #888;
  margin: -175px 0 0 30px;
}
/* line 42, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .list-tiles li img {
  border: 10px solid #fcfafa;
  -webkit-transform: rotateY(30deg);
  -moz-box-shadow: 0 3px 10px #888;
  -webkit-box-shadow: 0 3px 10px #888;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.5s;
}
/* line 53, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .object-info {
  border: 10px solid #fcfafa;
  padding: 20px;
  width: 260px;
  height: 250px;
  background-color: #deddcd;
  margin: -195px 0 0 55px;
  position: absolute;
  -moz-box-shadow: 0 20px 40px #888;
  -webkit-box-shadow: 0 20px 40px #888;
  -webkit-transform: translateZ(30px) rotateY(30deg);
  -webkit-transition-property: transform, box-shadow, margin;
  -webkit-transition-duration: 0.5s;
}
/* line 67, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .object-info h3 {
  color: #7a3f3a;
  font-variant: small-caps;
  font-family: Georgia,serif,Times;
  text-align: center;
  padding-bottom: 15px;
}
/* line 75, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .object-info p {
  padding-bottom: 15px;
}
/* line 79, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .object-info a {
  background-color: #7a3f3a;
  padding: 5px 10px;
  color: #eee;
  text-decoration: none;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 91, ../../app/app/directives/list-object/_scss/list-object.scss */
.list-object .object-info a:hover, .list-object .object-info a :focus {
  background-color: #6a191f;
  color: #fff;
}

/* include page*/
