<!DOCTYPE html>
<html ng-app="app" ng-controller="app.appController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fragment" content="!">

  <title ng-bind="pageTitle">Fresh Food Transfer</title>
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.<%= version %>.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/favicon.<%= version %>.png">
  <link rel="icon" type="image/png" href="/assets/favicon.<%= version %>.png">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/st.<%= version %>.css" />
  @@include('grunt_assets/index.scripts.header.html')
</head>
<body ng-style="$root.bodyStyle">
  <div top-icon-menu class="clear-float show-xs"></div>
  <header>
    <div header-page></div>
  </header>
  <div class="container clear-float">

    <aside class="col-xs-12 col-sm-3 aside-index">
      <div category-menu></div>
    </aside>
    <main class="col-xs-12 col-sm-9" ui-view="main"></main>
  </div>
  @@include('grunt_assets/index.scripts.footer.html')
</body>
</html>
