@charset "UTF-8";

$primary-color: #008FAD;
$secondary-color: #DE6773;
$link-color: #052B33;
$success-color: #746456;
$alert-color: #F00;
$grey-color: #f1f1f1;
$red_color: #fe5621;
$white_color: #ffffff;
$disable_color: #6D6D6D;
$button-font-color: #fff;
$input-prefix-background-color: #f1f1f1;
$container-background-color: darkslategrey;
$body-background-color: #fff;
$body-font-color: #99a4ab;
$body-border-color: #d5d5d5;
$content-background-color: #fff;
$header-background-color: #009587;
$font-family: 'Roboto', "Georgia", serif;
$alt-font-family: "PT Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;


  @import "__function/_functions.scss";
 @import "__function/_z-index.scss";
 @import "_base/_base.scss";
 @import "_base/_clearfix.scss";
 @import "_base/_normalize.scss";
 @import "_base/_screen.scss";
 @import "_base/layout-index.scss";
 @import "common/a.scss";
 @import "common/audio.scss";
 @import "common/body.scss";
 @import "common/button-icon.scss";
 @import "common/columns.scss";
 @import "common/container.scss";
 @import "common/debug-bar.scss";
 @import "common/dl.scss";
 @import "common/fieldset.scss";
 @import "common/font-awesome.scss";
 @import "common/header-title.scss";
 @import "common/hidden.scss";
 @import "common/hr.scss";
 @import "common/i18n-highlight.scss";
 @import "common/img-svg.scss";
 @import "common/input-prefix.scss";
 @import "common/input-suffix.scss";
 @import "common/input.scss";
 @import "common/label.scss";
 @import "common/loading.scss";
 @import "common/long-text-container.scss";
 @import "common/show-xs.scss";
 @import "common/textAngular.scss";
 @import "common/translate-cloak.scss";
 @import "common/valign.scss";

   @import "../app/app/directives/header-page/_scss/header-page.scss";
 @import "../app/app/directives/list-object/_scss/list-object.scss";
 @import "../app/app/directives/menu-top/_scss/menu-top.scss";
 @import "../app/app/directives/search/_scss/search.scss";
 @import "../app/app/directives/top-icon-menu/_scss/top-icon-menu.scss";
 @import "../app/category/_scss/category.scss";
 @import "../app/category/directives/category-menu/_scss/category-menu.scss";
 @import "../app/home/_scss/home.scss";
 @import "../app/object/_scss/object.scss";
 @import "../app/product/_scss/product.scss";
 @import "../app/product/directives/widget-products/_scss/widget-products.scss";

 
